
<button type="<%- type %>" class="btn group text-secondary flex items-center bg-transparent p-2">
    <span
        class="relative pr-4 pb-1  after:transition-transform after:duration-500 after:ease-out font-medium after:absolute after:bottom-0 after:left-0 after:block after:h-[2px] after:w-full after:origin-bottom-right after:scale-x-0 after:bg-action after:content-[''] after:group-hover:origin-bottom-left after:group-hover:scale-x-100">
        <%= title %>
    </span>
    <span  class="-translate-x-2 fill-slate-700 transition-all duration-300 ease-out group-hover:translate-x-1 group-hover:scale-x-105">
       <%- icon %>
    </span>
</button>